.main-flx-privacy{
    display: flex;
    margin-top: 80px;
    gap: 24px;
    margin-bottom: 80px;
}
.privacy-left-div{
    width: 40%;
}
.privacy-right-div{
    width: 60%;
}
.privacy-left-div .click-box a{
    width: fit-content;
    padding: 9px 12px;
    border-left: 3px solid var(--Primary-500, #28989A);
    display: block;
    color: var(--Primary-500, #28989A);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
}
.dotted-ul{
    margin-top: 12px;
    
}
.dotted-items{
    color: var(--Black-300, #B3B3B3);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    text-transform: capitalize;
    margin-top: 9px;
}
.click-box-deactive .green-btn{
    color: var(--Black-500, #050505);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
    margin-top: 18px;
    display: block;
    width: fit-content;
    padding: 9px 12px;
}
.click-box-deactive .green-btn:hover{
    color: var(--Primary-500, #28989A) !important;
    transition: all 0.3s;
}
.privacy-topic{
    color: var(--Black-500, #050505);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    text-transform: capitalize;
    margin-top: 5px;
}
.last-change-text{
    display: block;
    margin-top: 24px;
    color: var(--Black-600, #666);
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    text-transform: capitalize;
}
.privacy-hr{
    height:2px;
    color: #9c9c9c;
    width: 100%;
    background-color: #9c9c9c;
    margin-top: 20px;
    display: block;
    margin-bottom: 40px;
}
.gen-para-privacy{
    color: var(--Black-400, #999);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.sub-inner-topic-privacy{
    color: var(--Black-500, #050505);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.li-privacy-para{
    margin-bottom: 24px;
    margin-top: 24px;
}
.li-privacy-para li{
    color: var(--Black-400, #999);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.activating{
    margin-top: 12px;
}

@media(max-width:678px){
    .main-flx-privacy {
        display: flex;
        margin-top: 40px;
        gap: 24px;
        margin-bottom: 80px;
        flex-direction: column;
    }
    .privacy-left-div{
        width: 100%;
    }
    .privacy-right-div{
        width: 100%;
    }
    .privacy-left-div .click-box a{
        width: fit-content;
        padding: 8px 8px;
        border-left: 3px solid var(--Primary-500, #28989A);
        display: block;
        color: var(--Primary-500, #28989A);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 120% */
        text-transform: capitalize;
    }
    .dotted-ul{
        margin-top: 12px;
        
    }
    .dotted-items{
        color: var(--Black-300, #B3B3B3);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
        text-transform: capitalize;
        margin-top: 9px;
    }
    .click-box-deactive .green-btn{
        color: var(--Black-500, #050505);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 120% */
        text-transform: capitalize;
        margin-top: 18px;
        display: block;
        width: fit-content;
        padding: 8px 8px;
    }
    .click-box-deactive .green-btn:hover{
        color: var(--Primary-500, #28989A) !important;
        transition: all 0.3s;
    }
    .privacy-topic {
        color: var(--Black-500, #050505);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        text-transform: capitalize;
        margin-top: 5px;
    }
    .last-change-text{
        display: block;
        margin-top: 24px;
        color: var(--Black-600, #666);
        text-align: left;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 133.333% */
        text-transform: capitalize;
    }
    .privacy-hr{
        height:2px;
        color: #9c9c9c;
        width: 100%;
        background-color: #9c9c9c;
        margin-top: 20px;
        display: block;
        margin-bottom: 40px;
    }
    .gen-para-privacy{
        color: var(--Black-400, #999);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
    .sub-inner-topic-privacy{
        color: var(--Black-500, #050505);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .li-privacy-para{
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .li-privacy-para li{
        color: var(--Black-400, #999);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
    .activating{
        margin-top: 5px;
    }
    .dotted-items {
        color: var(--Black-300, #B3B3B3);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-transform: capitalize;
        margin-top: 5px;
    }
    .gen-para-privacy {
        color: var(--Black-400, #999);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    .li-privacy-para li {
        color: var(--Black-400, #999);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    .sub-inner-topic-privacy {
        color: var(--Black-500, #050505);
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}